- if item.visible?
  - if false # change to if lesson is completed
    %li.list-group-item.list-group-item-success
      = link_to item.name, item
      - if current_user.teacher?
        .pull-right
          = link_to 'Edit', edit_code_lesson_path(item)
  - else
    %li.list-group-item
      = link_to item.name, item
      - if current_user.teacher?
        .pull-right
          = link_to 'Edit', edit_code_lesson_path(item)
- elsif !item.visible? && current_user.teacher?
  %li.list-group-item
    = link_to item.name, item
    %span.text-danger#visible-tooltip{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "You need to add more details before students can see it."} This item is not visible to students
    .pull-right
      = link_to 'Edit', edit_code_lesson_path(item)