- provide :title, 'Edit Organisation'

.container
  .row.header
    .col-md-12
      %h4= yield :title
      %p Please fill out some details about your organisation
  .row
    .col-md-12
      .wrapper.clearfix
        .formy
          .row
            .col-md-12
              = form_for @organisation do |f|
                .form-group
                  = f.label :name
                  = f.text_field :name, autofocus: true, class: 'form-control'
                .form-group
                  = f.label :email
                  = f.text_field :email, class: 'form-control'
                .form-group
                  = f.label :url, 'URL'
                  = f.url_field :url, class: 'form-control'
                .form-group
                  = f.label :location
                  = f.text_field :location, class: 'form-control'
                .form-group
                  = f.label :description
                  = f.text_area :description, class: 'form-control', rows: '4'
                .checkbox
                  .submit
                    = f.submit "Submit", class: "button"
      .already-account
