- provide :title, 'Import Users'

#slider
  .container
    .row.header
      .col-md-12
        %h3 Import Students from file
        %p
          You can quickly add multiple Students to this account by importing details from any of the following file types:
        %ul
          %li CSV
          %li Excel File
        %p
          The file can contain the following columns (
          %strong *
          \= required):
        %ul
          %li
            %strong Name *
          %li
            %strong Username *
          %li
            %strong Password *
          %li Email
        %p
          The columns can be in any order. The first row
          %string must
          contain the names of the columns e.g. name,email,username,password
    .row
      .col-md-12
        = form_for @student_import, multipart: true do |f|
          = render 'shared/error_messages', object: f.object
          .form-group
            = f.label :file
            = f.file_field :file
          .form-group
            = f.submit 'Import', class: 'button'
