- provide :title, "Edit User #{@user.name}"

.container
  %h1 Edit #{@user.name}

  = form_for @user do |f|
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :username
      = f.text_field :username, class: 'form-control'
    .form-group
      = f.submit 'Submit'
