- provide :title, 'All Users'

.container
  %table.table.table-striped.table-hover#users-table
    %thead
      %tr
        %th Name
        %th Email
        %th Username
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.username
          %td
            = link_to 'Edit', edit_user_path(user)
            = link_to 'Delete', delete_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }
