- provide :title, 'Forgot your password?'

.container
  .row.header
    .col-md-12
      %h4 Forgot your password?
  .row
    .col-md-12
      .wrapper.clearfix
        .formy
          .row
            .col-md-12
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                = devise_error_messages!
                .form-group
                  = f.label :email
                  = f.email_field :email, autofocus: true, class: 'form-control'
                .submit
                  = f.submit "Send me reset password instructions", class:'btn btn-primary'
      .already-account
        = render "devise/shared/links"
