- provide :title, 'Features'

#tabs
  .container
    .row.header
      %h3 Kodets
      %p Choose your favorite formats for your own sites
    .row
      .col-md-12.tabs-wrapper
        %ul.nav.nav-tabs
          %li.active= link_to 'Integrated Development Environment', '#tab_1', "data-toggle" => 'tab'
          %li= link_to 'You have full control', '#tab_2', "data-toggle" => 'tab'
          %li= link_to 'Share lessons between schools', '#tab_3', "data-toggle" => 'tab'
          %li= link_to 'Get more done, faster', '#tab_4', "data-toggle" => 'tab'
        .tab-content
          #tab_1.tab-pane.fade.in.active
            .col-md-6.info
              %h4 Custom Built Code-Editor
              %p
                Students can enjoy a fully custom-built editor designed specifically for kodets. Our text editor comes with features such as instant code evaluation, hints available upon request, a comments section for students and teachers to communicate, and a terminal for the student to experiment in.
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
            .col-md-6.image
              %img.img-responsive
                = image_tag 'tabs/pic3.png', alt: 'picture1', width: '500px'
          #tab_2.tab-pane.fade
            .col-md-6.image
              %img.img-responsive
                = image_tag 'portfolioitem1.png', alt: 'picture2'
            .col-md-6.info
              %h4 You don't need to have any advanced technical
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
          #tab_3.tab-pane.fade
            .col-md-6.info
              %h4 You don't need to have any advanced technical
              %p
                Kodets fosters social learning by allowing schools to share lessons they have created with eachother.
            .col-md-6.image
              %img.img-responsive
                = image_tag 'tabs/pic2.png', alt: 'picture3', style: 'position: relative;top: 15px;'
          #tab_4.tab-pane.fade
            .col-md-6.image
              %img.img-responsive
                = image_tag 'tabs/pic1.png', alt: 'picture4'
            .col-md-6.info
              %h4 You don't need to have any advanced technical
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
#first-option
  .container
    .row.header
      .col-md-12
        %h2 Don't have time to make all the lessons?
        %p All Kodets plans come with unlimited access to our pre-built lessons.
    .row.feature
      .col-md-6.info
        %h4 You don't need to have great technical experience to use your product.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
      .col-md-6.image
        %img.img-responsive
          = image_tag 'feature1.png', alt: 'feature1'
    .row.feature.backwards
      .col-md-6.info
        %h4 You have complete control over your students.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
      .col-md-6.image
        %img.img-responsive
          = image_tag 'feature2.png', alt: 'feature2'
    .row.feature.last
      .col-md-6.info
        %h4 You don't need to have great technical experience to use your product.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien quis nunc bibendum pretium. Cras consequat, nulla iaculis tincidunt sollicitudin, turpis ante tincidunt tortor, tempus dignissim metus augue vitae urna.
      .col-md-6.image
        %img.img-responsive
          = image_tag 'feature3.png', alt: 'feature3'
#second-option
  .container
    .row
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/creditcard.png', alt: 'creditcard'
        %strong Act locally, work globally
        %p You can work with international customers right out of the box while you can keep staying in your country.
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/dev.png', alt: 'dev'
        %strong Complete online development environment
        %p Kodets offers a fully functional online development environment to provide a richer experience for students.
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/globe.png', alt: 'globe'
        %strong Develop once, run everywhere
        %p We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.
    .row
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/support.png', alt: 'support'
        %strong Simple support for students
        %p Our platforms allows students and teachers to interact easily and discuss submission, making it easier for teachers to provide assistance.
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/mail.png', alt: 'mail'
        %strong Develop once, run everywhere
        %p We'll be adding some new stuff to make it even more awesome, if you have any idea please let us know.
      .col-md-4.feature
        = image_tag 'circle-icons/one-color/locked.png', alt: 'locked'
        %strong Act locally, work globally
        %p This thing will work on any device, it has a very easy to understand documentation and is made with SASS.
#slider
  .container
    .row.header
      %h3 See our interactive development environment below:
    .row
      .col-md-12.slide-wrapper
        .slideshow
          .btn-nav.prev
          .btn-nav.next
          .slide.active
            = image_tag 'slider/slide3.png', alt: 'slide'
          .slide
            = image_tag 'slider/slide4.png', alt: 'slide'
          .slide
            = image_tag 'slider/slide1.png', alt: 'slide'
          .slide
            = image_tag 'slider/slide5.png', alt: 'slide'
          .slide
            = image_tag 'slider/slide2.png', alt: 'slide'
#showcase
  .container
    .row.header
      %h3 Showcasing some blog posts
