- provide :title, @code_lesson.name

= render 'code_lessons/ace_editor'

#code_lesson_sidebar
  - unless @code_lesson.visible?
    .container.hidden-lesson-container
      %span.mega-octicon.octicon-lock.hidden-icon

      %span.label.label-hidden{"class" => "visible-tooltip", "data-toggle" => "tooltip", "data-placement" => "right", "title" => "You need to add #{required_empty_fields(@code_lesson)} to make this lesson visible."}
        Hidden Lesson
  .container
    %h1= @code_lesson.name
    %p= @cl_lesson_content

  .container
    %h3 Instructions
    %p= @cl_instructions

  - if @code_lesson.hints.present?
    .container
      %h3 Hints
      %p= @cl_hints

  - if current_user.teacher?
    .container
      Lesson Created by:
      = link_to @creator.name, @creator
    .container
      = link_to 'Edit Lesson', edit_code_lesson_path(@code_lesson), class: 'btn btn-primary'
      = link_to code_lesson_stats_path(@code_lesson), class: 'btn btn-primary' do
        %span.octicon.octicon-organization
        Show Lessons Statistics

#code_lesson_submit_container
  .center
    - if @language.ace_slug == 'javascript'
      = link_to '#', class: 'btn btn-primary', id: 'javascript-run-code' do
        Run Code
    - else
      = link_to '#', class: 'btn btn-primary btn-lg run-code-button', id: 'main-run-code' do
        Run Code
        %i.fa.fa-play-circle
