- provide :title, @code_lesson.name

= render 'code_lessons/ace_editor'

#code_lesson_sidebar
  - unless @code_lesson.visible?
    .container.hidden-lesson-container
      %span.mega-octicon.octicon-lock.hidden-icon
      %span.label.label-hidden Hidden Lesson
  .container
    %h1= @code_lesson.name
    %p= @cl_lesson_content

  .container
    %h1 Instructions
    %p= @cl_instructions

  - if @code_lesson.hints.present?
    .container
      %h1 Hints
      %p= @cl_hints

  - if current_user.teacher?
    .container
      = link_to 'Edit Lesson', edit_code_lesson_path(@code_lesson), class: 'btn btn-primary'
      %br/
      %br/
      = link_to '#', class: 'btn btn-primary' do
        %span.octicon.octicon-organization
        See who completed

    .container
      Made by:
      = link_to @creator.name, @creator
#code_lesson_submit_container
  .center
    - if @language.ace_slug == 'javascript'
      = link_to '#', class: 'btn btn-primary', id: 'javascript-run-code' do
        Run Code

= render 'code_lessons/ace_javascript'
