- provide :title, @code_lesson.name

#editor= @code_lesson.starting_code

#console

#code_lesson_sidebar
  .container
    %h1= @code_lesson.name
    %p= @code_lesson.lesson_content

  .container
    %h1 Instructions
    %p= @code_lesson.instructions

  - if @code_lesson.hints.present?
    .container
      %h1 Hints
      %p= @code_lesson.hints

  - if current_user.teacher?
    .container
      = link_to 'Edit Lesson', edit_code_lesson_path(@code_lesson), class: 'btn btn-primary'
      = link_to 'See who completed', '#', class: 'btn btn-primary'

= render 'code_lessons/ace_javascript'
