- provide :title, @code_lesson.name

#editor= @code_lesson.starting_code

- if @language.ace_slug == 'html' || @language.ace_slug == 'markdown'
  #html_container
    %iframe#html_view
      %p The iframe was unable to load.
- else
  #console

#code_lesson_sidebar
  .container
    %h1= @code_lesson.name
    %p= @cl_lesson_content

  .container
    %h1 Instructions
    %p= @cl_instructions

  - if @code_lesson.hints.present?
    .container
      %h1 Hints
      %p= @cl_hints

  - if current_user.teacher?
    .container
      = link_to 'Edit Lesson', edit_code_lesson_path(@code_lesson), class: 'btn btn-primary'
      = link_to 'See who completed', '#', class: 'btn btn-primary'

    .container
      Made by:
      = link_to @creator.name, @creator

= render 'code_lessons/ace_javascript'
