- provide :title, "#{@code_lesson.name} - Statistics"

.container
  = render 'shared/breadcrumbs'

  %h1
    = @code_lesson.name
    %small Statistics

  %table.table
    %thead
      %tr
        %th User
        %th Attempts to Complete
        %th Time of Completion
    %tbody
      - @progresses.each do |progress|
        %tr
          %td= link_to "#{progress.user.name} (#{progress.user.username})", user_path(progress.user)
          %td= progress.number_of_attempts
          %td
            = progress.time_completed.strftime("%a %b #{progress.time_completed.day.ordinalize}, %Y - %H:%M")
            &mdash;
            %strong
              = surround "(", ")" do
                = time_ago_in_words progress.time_completed
                ago
