<% provide :title, "#{@progress.user.name}'s Submission - #{@code_lesson.name}" %>

<%= render 'code_lessons/ace_editor' %>

<div id="code_lesson_sidebar">
  <div class="container">
    <div class="alert alert-success submission-info" role="alert">
      <div class="fact">
        Viewing Submission for:<br>
        <span class="alert-link">
          <%= link_to @progress.user.name, @progress.user %>
        </span>
      </div>

      <div class="fact">
        Attempts Needed to Complete:<br>
        <span class="alert-link">
          <%= @progress.number_of_attempts %>
        </span>
      </div>

      <div class="fact">
        Time of Completion:<br>
        <span class="alert-link">
          <%= @progress.time_completed.strftime("%b #{@progress.time_completed.day.ordinalize}, %Y - %H:%M") %>
          <br>
          (<%= time_ago_in_words @progress.time_completed %> ago)
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <h1>
      <%= @code_lesson.name %>
    </h1>
    <p>
<% # These must be written like this and in ERB to remove formatting errors %>
<%= @cl_lesson_content %>
    </p>
  </div>
  <div class="container">
    <h3>Instructions</h3>
    <p>
<% # These must be written like this and in ERB to remove formatting errors %>
<%= @cl_instructions %>
    </p>
  </div>
  <% if @code_lesson.hints.present? %>
    <div class="container">
      <h3>Hints</h3>
      <p>
<% # These must be written like this and in ERB to remove formatting errors %>
<%= @cl_hints %>
      </p>
    </div>
  <% end %>
  <% if current_user.teacher? %>
    <div class="container">
      Lesson Created by:
      <%= link_to @creator.name, @creator %>
    </div>
    <div class="container">
      <%= link_to code_lesson_path(@code_lesson), class: 'btn btn-primary' do %>
        <span class="octicon octicon-organization"></span>
        Show Original Lesson
      <% end %>
    </div>
  <% end %>
</div>
<div id="code_lesson_submit_container">
  <div class="center">
    <%= render 'code_lessons/submit_code_form' %>
  </div>
</div>
