- provide :title, "#{resource.class.name} Sign In"

.container
  .row.header
    .col-md-12
      %h4 Sign into your Account
  .row
    .col-md-12
      .wrapper.clearfix
        .formy
          .row
            .col-md-12
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                = devise_error_messages!
                .form-group
                  = f.label :organisation_ref, 'Organisation ID'
                  = f.text_field :organisation_ref, autofocus: true, class: 'form-control'
                .form-group
                  = f.label :email
                  = f.email_field :email, class: 'form-control'
                .form-group
                  = f.label :password
                  = f.password_field :password, autocomplete: 'off', class: 'form-control'
                - if devise_mapping.rememberable?
                  .checkbox
                    = f.check_box :remember_me
                    = f.label :remember_me
                %div= f.submit "Sign in", class: 'btn btn-primary'
      .already-account
        = render "devise/shared/links"
