#info
  .container
    .row
      .col-md-12
        %h1 #{current_org.name} Dashboard
    .row.stats
      .col-sm-4
        - students = pluralise(current_org.students.count, 'student')
        %strong= students.first
        = students.last
      .col-sm-4
        %strong #{'3'}
        classes
      .col-sm-4
        %strong #{'3'}
        homework overdue
