#info
  .container
    .row
      .col-md-12
        %h1
          = current_org.name
          Dashboard
    .row.stats
      .col-sm-4
        - students = pluralise(current_org.users.count, 'user')
        %strong= students.first
        = students.last
      .col-sm-4
        - courses = pluralise(current_org.courses.count, 'course')
        %strong= courses.first
        = courses.last
      .col-sm-4
        %strong #{'3'}
        homework overdue
