#info
  .container
    .row
      .col-md-12
        - if current_org.users.count == 0
          .alert.alert-info.alert-dismissible{role: "alert"}
            %button.close{type: "button", "data-dismiss" => "alert"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close
            You haven't added any users yet,
            = link_to 'click here to add users.', new_student_import_path, class: 'alert-link'
        %h1 #{current_org.name} Dashboard
    .row.stats
      .col-sm-4
        - users = pluralise(current_org.users.count, 'students')
        = link_to users_path do
          %strong= users.first
          = users.last
      .col-sm-4
        %strong #{current_org.courses.count}
        courses
      .col-sm-4
        %strong #{'3'}
        homework overdue
