#info
  .container
    .row
      .col-md-12
        - if current_teacher.organisation.users.count == 1
          .alert.alert-info.alert-dismissible{role: "alert"}
            %button.close{type: "button", "data-dismiss" => "alert"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close
            You haven't added any users yet,
            = link_to 'click here to add users.', import_students_view_path, class: 'alert-link'
        %h1 #{current_teacher.organisation.name} Dashboard
    .row.stats
      .col-sm-4
        - users = pluralise(current_org.students.count, 'students')
        %strong= users.first
        = users.last
      .col-sm-4
        %strong #{'3'}
        classes
      .col-sm-4
        %strong #{'3'}
        homework overdue
