%header{class: header_class, role: "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Kodets', root_path, class: 'navbar-brand'
    %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav.navbar-right
        - if teacher_signed_in?
          %li= link_to 'Dashboard', dashboard_path
          %li.dropdown
            %a.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown'}
              %i.fa.fa-user
              = current_teacher.email
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_teacher_registration_path do
                  %i.fa.fa-cog
                  Account settings
              %li
                = link_to edit_organisation_path(current_teacher.organisation.ref) do
                  %i.fa.fa-cog
                  Organisation settings
              %hr
              %li
                = link_to destroy_teacher_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  Sign out
        - else
          %li= link_to 'Home', root_path
          %li= link_to 'Pricing', pricing_path
          %li= link_to 'Sign in', new_teacher_session_path
          %li= link_to 'Sign up', new_teacher_registration_path
