#footer
  .container
    .row
      .col-sm-3.copyright
        Kodets
        = Time.now.strftime('%Y')
        &copy;
      .col-sm-6.menu
        %ul
          - if on_page('pages', 'features')
            %li.active= link_to 'Features', features_path
          - else
            %li= link_to 'Features', features_path
          - if on_page('pages', 'pricing')
            %li.active= link_to 'Pricing', pricing_path
          - else
            %li= link_to 'Pricing', pricing_path
          - if on_page('courses', 'index')
            %li.active= link_to 'Courses', courses_path
          - else
            %li= link_to 'Courses', courses_path
          %li
            %a{:href => "#"} Support
          %li
            %a{:href => "#"} Blog
      .col-sm-3.social
        = link_to 'http://twitter.com/kodets' do
          = image_tag 'social/social-tw.png', alt: 'twitter'
        = link_to '#' do
          = image_tag 'social/social-dbl.png', alt: 'dribbble'
