#footer
  .container
    .row
      .col-sm-3.copyright
        Kodets
        = Time.now.year
        &copy;
      .col-sm-6.menu
        %ul
          = footer_link 'Courses', courses_path, 'courses', 'index'
          - if current_user.teacher?
            = footer_link 'Features', features_path, 'pages', 'features'
            = footer_link 'Pricing', pricing_path, 'pages', 'pricing'
            = footer_link 'Support', '#', 'pages', 'support'
            = footer_link 'Blog', '#', 'blog', 'index'
          - else
            = footer_link 'My Account', user_path(current_user), 'users', 'show'
      - if current_user.teacher?
        .col-sm-3.social
          = link_to 'http://twitter.com/kodets' do
            = image_tag 'social/social-tw.png', alt: 'twitter'
          = link_to '#' do
            = image_tag 'social/social-dbl.png', alt: 'dribbble'
